.nav {
  display: flex;
  justify-content: center;
  width: 100%;
  .container {
    display: grid;
    width: 100%;
    padding: 1rem;
    grid-template-columns: repeat(12, 1fr);

    .div-icon {
      grid-column: span 4;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 2.5rem;
    }
    .nav-search--form {
      display: flex;
      width: 100%;
      grid-column: span 8;
      h1 {
        color: $text2-hex;
        margin-right: 2rem;
      }
      input[type="text"] {
        padding: 0.5rem;
        font-size: 0.8rem;
        border: 1px solid $text2-hex;
        border-radius: 0.5rem 0 0 0.5rem;
        border: 1px solid $text2-hex;
        float: left;
        width: 80%;
        background: $text4-hex;
      }
      button {
        float: left;
        width: 20%;
        padding: 0.5rem;
        background: $text4-hex;
        color: $text3-hex;
        font-size: 0.8rem;
        border: 1px solid $text3-hex;
        border-radius: 0 0.5rem 0.5rem 0;
        border: none;

        border-left: none;
        cursor: pointer;
      }
    }

    .d-none {
      display: none;
    }
    .ul {
      display: flex;
      flex-direction: column;
      grid-column: span 12;

      li {
        color: $AICELAND3-hex;
        list-style: none;
        cursor: pointer;
        margin-top: 0.5rem;
        text-transform: uppercase;
        font-size: small;
        font-weight: 600;
      }
    }
    .md-ul {
      display: none;
      grid-column: span 12;
      gap: 1.5rem;
      li {
        color: $AICELAND3-hex;
        list-style: none;
        cursor: pointer;
        margin-top: 0.5rem;
        text-transform: uppercase;
        font-size: large;
        font-weight: 600;
        &:hover {
        }
      }
    }
  }
  .icon {
    color: $text2-hex;
    font-size: 1.4rem;
    cursor: pointer;
  }
}
