/* Color Theme Swatches in Hex */
$AICELAND1-hex: #1d4859;
$AICELAND2-hex: #bf702a;
$AICELAND3-hex: #8c3a1c;
$AICELAND4-hex: #40130f;
$AICELAND5-hex: #8c1616;

/* Color Theme Swatches in RGBA */
$AICELAND1-rgba: rgba(29, 72, 89, 1);
$AICELAND2-rgba: rgba(191, 111, 42, 1);
$AICELAND3-rgba: rgba(140, 57, 28, 1);
$AICELAND4-rgba: rgba(63, 18, 14, 1);
$AICELAND5-rgba: rgba(140, 22, 22, 1);

/* Color Theme Swatches in HSLA */
$AICELAND1-hsla: hsla(196, 50, 23, 1);
$AICELAND2-hsla: hsla(28, 63, 45, 1);
$AICELAND3-hsla: hsla(16, 66, 33, 1);
$AICELAND4-hsla: hsla(5, 62, 15, 1);
$AICELAND5-hsla: hsla(0, 72, 31, 1);

/* Color Theme Swatches in Hex */
$text1-hex: #333333;
$text2-hex: #707070;
$text3-hex: #f0f0f0;
$text4-hex: #fcfcfc;
$text5-hex: #d6d6d6;

/* Color Theme Swatches in RGBA */
$text1-rgba: rgba(51, 51, 51, 1);
$text2-rgba: rgba(112, 112, 112, 1);
$text3-rgba: rgba(240, 240, 240, 1);
$text4-rgba: rgba(252, 252, 252, 1);
$text5-rgba: rgba(214, 214, 214, 1);

/* Color Theme Swatches in HSLA */
$text1-hsla: hsla(0, 0, 20, 1);
$text2-hsla: hsla(0, 0, 43, 1);
$text3-hsla: hsla(0, 0, 94, 1);
$text4-hsla: hsla(0, 0, 98, 1);
$text5-hsla: hsla(0, 0, 83, 1);

$font-family: "Segoe UI", Tahoma, Geneva, Verdana, sa;
