@import "./abstracts/mixin", "./abstracts/variables";
@import "./base/reset";
@import "./components/header.module.scss";
@import "./components/nav.module.scss";
@import "./components/main.module.scss";

body {
  font-family: $font-family;
  line-height: 1;
  color: $text3-hex;
  background-color: $text4-hex;
  height: 100vh;
}
